@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F3F5FA;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.select
{
  @apply font-semibold p-2
}
.side-in
{
  @apply flex justify-start w-52 pl-5 py-5 gap-5 h-10 rounded-md items-center
}
.side-in:hover
{
  color:rgb(119,72,151);
  font-weight:bold;
}
.side-in span
{
  @apply justify-self-start 
}
.input-label
{
  @apply flex flex-col
}
.bold-header
{
  @apply font-bold
}
.bidStrat
{
  @apply text-blue-600 underline text-center 
}
.report
{
  @apply font-semibold text-blue-500
}
.campaign-btns button
{
  @apply border-2 border-gray-300 mx-1 p-1
}